@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :lang(en) {
        font-family: 'Inter', sans-serif;
        line-height: 1.5 !important;
        letter-spacing: 0.01em !important;
    }

    :lang(km) {
        font-family: 'Suwannaphum', serif;
        line-height: 1.7 !important;
    }
}